.single_order .orders_cookies_history_header div,
.single_order .details .item div{
    display:inline-block;
}

.single_order .orders_cookies_history_header {
    background-color: #c4f7ff;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}
.single_order .orders_cookies_history_header:hover {
    background-color: #9bf0ff;
}
.single_order .details {
    background-color: #e6fcff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.single_order {
    margin-bottom: 1em;
}


.single_order .details .item {
    padding: 10px;
}
.single_order .details .item .ordertotal {
    float: right;
}
.single_order .orders_cookies_history_header .orderid {
    margin-right: 10px;
}

.single_order .orders_cookies_history_header .ordertotal {
    float: right;
}